/* FONTS
 * font-family: 'Alfa Slab One', cursive;
font-family: 'Gentium Book Basic', serif;
 */

/* HEADING */
.heading {
  border-bottom: 5px solid black;
}

.title {
  font-family: 'Alfa Slab One', cursive;
}

.sub-title {
  font-family: 'Gentium Book Basic', serif;
}

.copyright {
  font-family: 'Gentium Book Basic', serif;
}

/*First Top 5 List */
.artist,
.song,
.album {
  font-family: 'Gentium Book Basic', serif;
}
.album-image {
  width: 85%;
}

.album-image.animated {
    animation-delay: .5s;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

/* FOOTER */
.footer {
  font-family: 'Gentium Book Basic', serif;
}
